
<%- include("header") -%>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam possimus, iure quia aperiam ipsam iusto culpa officia deleniti facilis. Velit similique sit libero dolor officiis in enim. Tenetur sit iure harum esse maxime ducimus?

</p>
<%- include("footer") -%>